.card__btn_action_like {
  background-image: url(../../../../../../../images/like.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  height: 20px;
  transition: all .3s ease;
  width: 20px;
}

.like__color{
  background-image: url(../../../../../../../images/Union.svg);
}